/*================================
=            Variable            =
================================*/

$primary       : #dfc7b7; // Бежевый
$secondary     : #ff643c; // Оранжевый #ff671b
$third         : #092330; // Темный var1: #1E252B
$fourth        : #fff;
$five          : #1E252B;

$error       :   $third;
$success     :   $fourth;

$border_1:  1px solid $primary;
$border_2:  2px solid $primary;
$border_3:  3px solid $primary;

$base-duration:     0.3s;
$base-timing:       0.3s;

/*----------  Logo & Menu  ----------*/
$logoColorLight          : $fourth;
$logoColorDark           : $third;
$menuLiColor             : $fourth;
$menuLiColorHover        : $secondary;
$navActiveColor          : $fourth;
$navHoverColor           : $third;

/*----------  Layout  ----------*/
$layoutBackground        : lighten($five, 30%);
$layoutShutterBackground : $secondary;
$layoutInfoWidth         : 50%;
$layoutContactWidth      : 50%;
$headerLineHeight        : 0.8rem;

$projectFirst  : #323E48;
$projectSecond : #000;
$layoutBackgroundFirst   : lighten($projectFirst, 15%);
$layoutBackgroundSecond  : lighten($projectSecond, 40%);

$contentLeft             : 0;
$shutterWidth            : 15%;
$sectionTitleColor       : $fourth;

//Layout Mobile
$shutterWidthMobile      : 100%;
$shutterHeightMobile     : 3rem;

/*----------  Section  ----------*/
$sectionTopBlockWidth: 42vmin;

/*----------  Slogan & Skills  ----------*/
$sloganColorLight        : $fourth;
$sloganColorDark         : lighten($five, 50%);
$scrollLineColor         : $fourth;
$scrollLineTextWidth     : 8rem;

$skillsLiColor           : darken($secondary, 10%);
$skillsLiColorHover      : lighten($secondary, 10%);
$skillsTextColor         : $fourth;

/*----------  Project  ----------*/
$projectTitleColor       : rgba($fourth, 0.3);
$projectTextColor        : $fourth;
$projectTitleColorMobile : $fourth;

/*=====  End of Variable  ======*/


/*=============================
=            Media            =
=============================*/

$neat-grid: (
    columns: 12,
    gutter: 2rem
);

$imac27 : 2560px;
$imac21 : 1920px;
$cinema : 1680px;
$pad_g  : 1024px;
$pad_v  : 768px;
$mobile : 570px;

$XXLarge: (
    media: "(min-width: #{$imac21})",
);

$XLarge: (
    media: "(min-width: #{$cinema}) and (max-width: #{$imac21})",
);

$Large: (
    media: "(min-width: #{$pad_g}) and (max-width: #{$cinema})",
);

$Medium: (
    media: "(max-width: #{$pad_g})",
);

$XSmall: (
    media: "(max-width: #{$pad_v})",
);

$Small: (
    media: "(max-width: #{$mobile})",
);

$HSmall: (
    media: "(max-height: 420px)",
);

/*=====  End of Media  ======*/


/*=============================
=            Fonts            =
=============================*/

// @include font-face (
//     "fontawesome-webfont",
//     "fonts/fontawesome-webfont/fontawesome-webfont",
//     ("eot", "woff", "ttf", "svg")
//     ) {
//     font-style: normal;
//     font-weight: 400;
// }

@include font-face (
    "PF DinText Pro",
    "fonts/PFDinTextPro-Regular/PFDinTextPro-Regular",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "PF Din Text Comp Pro Medium",
    "fonts/PFDinTextCompPro-Medium/PFDinTextCompPro-Medium",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 400;
}

@include font-face (
    "PF DinText Pro Bold",
    "fonts/PFDinTextPro-Bold/PFDinTextPro-Bold",
    ("eot", "woff", "ttf", "svg")
    ) {
    font-style: normal;
    font-weight: 700;
}

@import url('https://fonts.googleapis.com/css?family=Russo+One&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700|Roboto:900&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Oswald:400,600,700|PT+Sans+Narrow:400,700&subset=cyrillic');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

$primary-font        : $font-stack-helvetica;
$heading-font        : "PF DinText Pro";
// $heading-font        : 'Russo One', sans-serif;
$heading-font-cond   : "PF Din Text Comp Pro Medium";
// $heading-font-bold   : "PF DinText Pro Bold";
// $heading-font-bold   : 'Roboto', sans-serif;
// $heading-font-bold   : 'Montserrat', sans-serif;
// $heading-font-bold   : 'Open Sans Condensed', sans-serif;
// $heading-font-bold   : 'PT Sans Narrow', sans-serif;
$heading-font-bold   : 'Oswald', sans-serif;
$subheading-font     : 'Montserrat', sans-serif;

$body-font-color     : $third;

$body-font-size      : 1rem !default;
$body-font-weight    : normal !default;
$body-line-height    : 1.4 !default;
$heading-line-height : 1 !default;

$bourbon: (
    "modular-scale-base": $body-font-size,
    "modular-scale-ratio": $minor-third,
);

$font-size-base:    $body-font-size !default;
$font-size-large:   $font-size-base + 0.2 !default; // ~18px
$font-size-small:   $font-size-base - 0.2 !default; // ~14px

$font-size-h1:      4vw !default; // ~3rem 48px modular-scale(6)
$font-size-h2:      2.5vw !default; // ~2.5rem 40px modular-scale(5)
$font-size-h3:      modular-scale(4) !default; // ~2rem 33px
$font-size-h4:      modular-scale(3) !default; // ~1.728rem 28px
$font-size-h5:      modular-scale(2) !default; // ~1.44rem 23px
$font-size-h6:      modular-scale(1) !default; // ~1.2rem 19px

%px {
    font: {
        family: $primary-font;
        weight: $body-font-weight;
        size: $font-size-base;
    };
    line-height: $body-line-height;
    color: $body-font-color;
    //text-indent: 1rem;

    @include grid-media($XXLarge) {
        font-size: modular-scale(3);
    }

    @include grid-media($XLarge) {
        font-size: $font-size-large;
    }

    @include grid-media($Medium) {
        font-size: $font-size-large;
    }

    @include grid-media($XSmall) {
        font-size: $font-size-large;
    }

    @include grid-media($Small) {
        font-size: $font-size-large;
    }
}

%hx {
    font: {
        family: $heading-font-bold;
        weight: 700;
    };
    //letter-spacing: 0.04em;
    line-height: $heading-line-height;
    text-transform: uppercase;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}
/*=====  End of Fonts  ======*/


body {
    @extend %px;
    margin: 0;
    background-color: $layoutBackground;
    // @extend %scrollbar_body;
}

h1 {
    @extend %hx;
    font-size: $font-size-h1;
    color: $secondary;
    //margin-bottom: 1em;
    //text-align: center;
    //transition: all .3s;
}

h2 {
    @extend %hx;
    font-size: $font-size-h2;
    color: $secondary;
}

h3 {
    @extend %hx;
    font-size: $font-size-h3;
    color: $secondary;
}

h4 {
    @extend %hx;
    font-size: $font-size-h4;
    color: $secondary;
}

h5 {
    @extend %hx;
    font-size: $font-size-h5;
    color: $secondary;
}

h6 {
    @extend %hx;
    font-size: $font-size-h6;
    color: $secondary;
}

.large-text {
    font-size: $font-size-large;
}

.small-text {
    font-size: $font-size-small;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {

        @include grid-media($Medium) {
            font-size: $font-size-large;
        }
    }
}

a {
    font-weight: 600;
    color: $primary;
    text-decoration: none;
    transition: color $base-duration;
    outline: none;

    // &:active,
    // &:focus,
    // &:hover {
    //     //color: $action-color;
    // }
}

button {
    outline: none;
}

svg {
    transition: 0.3s;
}
/*=====  End of Layout  ======*/

