/*==============================
=            Footer            =
==============================*/
$footer-grid: (
    columns: 1,
    gutter: 5rem
);

footer {
    width: 100%;
    min-height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0;
    left: 0;

    p {
        font-size: $font-size-small;
        color: $third;
    }

    @include grid-media($Small) {
        width: calc(100% - 2rem);
        padding: 0 1rem;
        text-align: center;
        line-height: 1;
        bottom: 60px;
    }
}

/*=====  End of Footer  ======*/
