/*==============================
=            Footer            =
==============================*/
$footer-grid: (
    columns: 1,
    gutter: 5rem
);

footer {
    width: 100vh;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: -2rem;
    left: 0;
    // background-color: $secondary;
    z-index: 9990;
    transform-origin: 0 0;
    transform: rotate(-90deg);

    span {
        font-family: $heading-font-bold;
        font-size: $font-size-small - 0.2;
        font-weight: 400;
        letter-spacing: 0.05rem;
        color: $third;
    }

    @include grid-media($Small) {
        width: calc(100% - 2rem);
        height: auto;
        min-height: 2rem;
        padding: 1rem 1rem 3rem;
        text-align: center;
        line-height: 1;
        bottom: 0;
        position: relative;
        background-color: $secondary;
        transform: rotate(0);

        span {
            font-size: $font-size-small;
            letter-spacing: normal;
            line-height: 1.4;
        }
    }
}

/*=====  End of Footer  ======*/
