/*==============================
=            Layout            =
==============================*/
#main-scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper {
    //@include outer-container();
    position: relative;
    background-color: $layoutBackground;
    //margin-bottom: 5vh;
    // transition: background 1s;
    // animation: fadeIn 0.6s ease-in-out;

    &-front {
        width: 100%;
        min-height: 100vh;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &__content {
            // width: calc(100% - (#{$contentLeft} * 2));
            width: 100%;
            min-height: 100vh;
            left: $contentLeft;
            position: relative;
            z-index: 1;
            overflow: hidden;

            .line-down {
                width: 0.5rem;
                height: 47vh;
                display: block;
                position: absolute;
                bottom: 0;
                margin-left: -25%;
                border-right: 0.5rem dotted lighten($third, 40%);
            }

            .line-right {
                width: 15vw;
                height: 0.5rem;
                display: block;
                position: absolute;
                right: 0;
                margin-top: -16.5%;
                border-top: 0.5rem dotted lighten($third, 40%);
            }

            #lineDownText {
                display: inline-block;
                position: absolute;
                bottom: 2rem;
                margin-left: -18.5%;
                font-size: $font-size-small;
                color: lighten($third, 40%);
            }

            #lineRightText {
                display: inline-block;
                position: absolute;
                right: 2rem;
                margin-top: -20%;
                font-size: $font-size-small;
                color: lighten($third, 40%);
            }
        }
    }

    &-error {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &__number {
            width: 40%;
            min-height: 30vh;
            position: relative;

            svg {
                width: 100%;
                height: auto;
                stroke: lighten($secondary, 70%);
                stroke-width: 5;
                fill: none;
                padding: 1rem;
                transition-duration: 0.3s;
            }
        }

        &__text {
            width: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;

            h2 {
                font-size: $font-size-h1;
                animation: fadeIn 3s ease-in-out;
                //animation-delay: 2s;
            }
        }

        &__button {
            width: 100%;
            min-height: 60px;
            display: flex;
            justify-content: center;
            left: 0;
            top: 15vh;
            position: absolute;

            .button-back {
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border: 1px solid $primary;
                background-color: #fff;
                overflow: hidden;
                transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

                &::after {
                    content: '';
                    //width: 100%;
                    //height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    position: absolute;
                    background-color: $primary;
                    z-index: 1;
                    //box-sizing: border-box;
                    transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
                    transform: scaleX(0);
                    transform-origin: center right;
                }

                svg {
                    fill: none;
                    stroke: $primary;
                    stroke-width: 6;
                    z-index: 10;
                    transition: all 0.3s;
                }

                &:hover {

                    svg {
                        stroke: #fff;
                        transform: translateX(-5px);
                    }

                    &::after {
                        transform: scaleX(1);
                        transition-delay: 0s;
                    }
                }
            }
        }
    }

    &-info {

        &__content {
            width: $layoutInfoWidth;
            min-height: 100vh;
            padding: 3rem ($layoutInfoWidth / 2);

            h1 {
                color: $fourth;
                font-size: $font-size-h3;
            }

            h4 {
                color: $fourth;
                margin-top: 2rem;
            }

            ol {
                padding-left: 1rem;
            }

            ul {
                list-style: disc;
                padding-left: 1rem;
                margin-bottom: 1rem;
            }

            p {

                span {
                    color: $fourth;
                }
            }
        }
    }

    &-contact {

        &__content {
            width: $layoutContactWidth;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 ($layoutContactWidth / 2);
            background-color: $secondary;
        }

        footer {
            position: absolute;
        }

        @include grid-media($XSmall) {

            &__content {
                width: calc(100% - 2rem);
                height: auto;
                min-height: 100vh;
                padding: 3rem 1rem 1rem;
            }

            footer {
                position: relative;
            }
        }
    }

    &-stopper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--back-first {
        background-color: $layoutBackgroundFirst;
    }

    &--back-second {
        background-color: $layoutBackgroundSecond;
    }

    &-process {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $projectFirst;

        &__back {
            width: 100%;
        }
    }

    &-pattern {
        background: url('images/pattern2.png') scroll;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        position: absolute;
    }

    &-overlay {
        background-color: $projectFirst;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        z-index: 2;
        position: absolute;
    }

    @include grid-media($XSmall) {

        &_news {
            padding-right: 0;
        }
    }
}

.filled {
    fill: $primary;
}

/*=====  End of Layout  ======*/

/*==================================
=            Arrow Down            =
==================================*/

.arrow-down {
    width: 1rem;
    height: 10%;
    display: block;
    border-radius: 20px;
    position: absolute;
    margin: 0 auto 0 -15px;
    left: 50%;
    bottom: 0;
    transition: all 0.4s;

    &:before {
        content: "";
        width: 0.15rem;
        height: 100%;
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        background-color: $fourth;
        transform: translateX(-50%);
        z-index: 10;
    }

    &:after {
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        display: block;
        position: absolute;
        // top: 0;
        left: 50%;
        border-radius: 50%;
        background-color: $fourth;
        transform: translateX(-50%);
        z-index: 11;
        transition: all 2s;
        transform-origin: 50% 50%;
        animation: arrow-down 2s forwards infinite normal ease-in-out;
    }

    @include grid-media($Small) {
        display: none;
        visibility: hidden;
    }
}

@keyframes arrow-down {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: 70%;
    }
    60% {
        // opacity: 0;
        width: 0;
        height: 0;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}

/*=====  End of Arrow Down  ======*/
