/*==============================
=            Layout            =
==============================*/
#main-scrollbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.wrapper {
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: $layoutBackground;
    overflow: hidden;

    &-front {
        width: 100%;
        min-height: 100vh;
        position: relative;
        z-index: 1;
        overflow: hidden;

        &__content {
            // width: calc(100% - (#{$contentLeft} * 2));
            width: 100%;
            min-height: 100vh;
            left: $contentLeft;
            position: relative;
            z-index: 1;
            overflow: hidden;

            .line-down {
                width: 0.5rem;
                height: 47vh;
                display: block;
                position: absolute;
                bottom: 0;
                margin-left: -25%;
                border-right: 0.5rem dotted lighten($third, 40%);
            }

            .line-right {
                width: 15vw;
                height: 0.5rem;
                display: block;
                position: absolute;
                right: 0;
                margin-top: -16.5%;
                border-top: 0.5rem dotted lighten($third, 40%);
            }

            #lineDownText {
                display: inline-block;
                position: absolute;
                bottom: 2rem;
                margin-left: -18.5%;
                font-size: $font-size-small;
                color: lighten($third, 40%);
            }

            #lineRightText {
                display: inline-block;
                position: absolute;
                right: 2rem;
                margin-top: -20%;
                font-size: $font-size-small;
                color: lighten($third, 40%);
            }
        }
    }

    &__shutter {
        width: 50%;
        height: 100vh;
        display: block;
        position: fixed;
        top: 0;
        background-color: darken($layoutBackground, 3%);
        z-index: 999;

        &_left {
            left: 0;
        }

        &_right {
            left: 50%;
        }
    }

    &-begin {
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
    }

    &-error {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;

        &__number {
            width: 40%;
            min-height: 30vh;
            position: relative;

            svg {
                width: 100%;
                height: auto;
                stroke: lighten($secondary, 70%);
                stroke-width: 5;
                fill: none;
                padding: 1rem;
                transition-duration: 0.3s;
            }
        }

        &__text {
            width: 100%;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            position: absolute;
            top: 0;
            left: 0;

            h2 {
                font-size: $font-size-h1;
                animation: fadeIn 3s ease-in-out;
                //animation-delay: 2s;
            }
        }

        &__button {
            width: 100%;
            min-height: 60px;
            display: flex;
            justify-content: center;
            left: 0;
            top: 15vh;
            position: absolute;

            .button-back {
                width: 60px;
                height: 60px;
                display: flex;
                justify-content: center;
                align-items: center;
                position: relative;
                border: 1px solid $primary;
                background-color: #fff;
                overflow: hidden;
                transition: background-color 0.3s cubic-bezier(.4,0,.2,1);

                &::after {
                    content: '';
                    //width: 100%;
                    //height: 100%;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    position: absolute;
                    background-color: $primary;
                    z-index: 1;
                    //box-sizing: border-box;
                    transition: transform 0.45s cubic-bezier(.4,0,.2,1) 75ms;
                    transform: scaleX(0);
                    transform-origin: center right;
                }

                svg {
                    fill: none;
                    stroke: $primary;
                    stroke-width: 6;
                    z-index: 10;
                    transition: all 0.3s;
                }

                &:hover {

                    svg {
                        stroke: #fff;
                        transform: translateX(-5px);
                    }

                    &::after {
                        transform: scaleX(1);
                        transition-delay: 0s;
                    }
                }
            }
        }
    }

    &-info {

        &__content {
            width: $layoutInfoWidth;
            min-height: 100vh;
            padding: 3rem (calc(#{$layoutInfoWidth} / 2));

            h1 {
                color: $fourth;
                font-size: $font-size-h3;
            }

            h4 {
                color: $fourth;
                margin-top: 2rem;
            }

            ol {
                padding-left: 1rem;
            }

            ul {
                list-style: disc;
                padding-left: 1rem;
                margin-bottom: 1rem;
            }

            p {

                span {
                    color: $fourth;
                }
            }
        }
    }

    &-contact {

        &__content {
            width: $layoutContactWidth;
            min-height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 (calc(#{$layoutContactWidth} / 2));
            background-color: $secondary;
        }

        footer {
            position: absolute;
        }

        @include grid-media($XSmall) {

            &__content {
                width: calc(100% - 2rem);
                height: auto;
                min-height: 100vh;
                padding: 3rem 1rem 1rem;
            }

            footer {
                position: relative;
            }
        }
    }

    &-stopper {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &--back-first {
        background-color: $layoutBackgroundFirst;
    }

    &--back-second {
        background-color: $layoutBackgroundSecond;
    }

    &-process {
        width: 100%;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $projectFirst;

        &__back {
            width: 100%;
        }
    }

    &-pattern {
        background: url('images/pattern2.png') scroll;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        z-index: 3;
        position: absolute;
    }

    &-overlay {
        background-color: $projectFirst;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        opacity: 0.7;
        z-index: 2;
        position: absolute;
    }

    @include grid-media($XSmall) {

        &_news {
            padding-right: 0;
        }
    }
}

.container {

    &-begin {
        width: 30%;
        min-height: 60vh;
        max-height: 70vh;
        display: block;
        position: absolute;
        z-index: 1000;

        #sloganBegin_ne {
            width: 75%;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
        }

        #sloganBegin_vseTak {
            width: 75%;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(273%);
        }

        #sloganBegin_simple {
            width: 75%;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(430%);
        }

        #sloganBegin_asItSeems {
            width: 19%;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform-origin: 100% 0;
        }

        #sloganBegin_hard {
            width: 75%;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            transform: translateY(500%);
        }

        #sloganBegin_looksLke {
            width: 40.6%;
            height: auto;
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            transform: translateX(50%);
        }
    }
}

.filled {
    fill: $primary;
}

/*=====  End of Layout  ======*/