/*==================================
=            Arrow Down            =
==================================*/

.arrow-down {
    width: 1rem;
    height: 10%;
    display: block;
    border-radius: 20px;
    position: absolute;
    margin: 0 auto 0 -15px;
    left: 50%;
    bottom: 0;
    transition: all 0.4s;

    &:before {
        content: "";
        width: 0.15rem;
        height: 100%;
        display: block;
        position: absolute;
        left: 50%;
        top: 0;
        background-color: $fourth;
        transform: translateX(-50%);
        z-index: 10;
    }

    &:after {
        content: "";
        width: 0.6rem;
        height: 0.6rem;
        display: block;
        position: absolute;
        // top: 0;
        left: 50%;
        border-radius: 50%;
        background-color: $fourth;
        transform: translateX(-50%);
        z-index: 11;
        transition: all 2s;
        transform-origin: 50% 50%;
        animation: arrow-down 2s forwards infinite normal ease-in-out;
    }

    @include grid-media($Small) {
        display: none;
        visibility: hidden;
    }
}

@keyframes arrow-down {
    0% {
        top: 0;
        opacity: 1;
    }
    50% {
        top: 70%;
    }
    60% {
        // opacity: 0;
        width: 0;
        height: 0;
    }
    100% {
        top: 0;
        opacity: 0;
    }
}

/*=====  End of Arrow Down  ======*/


/*====================================
=            Mouse scroll            =
====================================*/

@import url(https://fonts.googleapis.com/css?family=Cabin);

$colorBg: $third;
$colorOutline: $fourth;
$colorOutlineFade: $third;

$widthMouse: 2rem;
$heightMouse: 3.4rem;
$borderMouse: 0.26rem;

$posMouse: 8px;
$posText: 2px;

$sizeTrackball: 10px;
$posTrackball: 0.8rem;
$shrinkTrackball: 0.4;

$animDuration: 5s;

@mixin bgGradient {
    background:
            $colorOutlineFade linear-gradient(transparent 0%,
                    transparent 50%,
                    $colorOutline 50%,
                    $colorOutline 100%);
}

.mouse {
    @include bgGradient;
    position: relative;
    width: $widthMouse;
    height: $heightMouse;
    border-radius: 100px;
    background-size: 100% 200%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 2rem;
    animation:
            colorSlide $animDuration linear infinite,
            nudgeMouse $animDuration ease-out infinite;

    &:before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        margin: auto;
        width: $widthMouse - $borderMouse;
        height: $heightMouse - $borderMouse;
        background-color: $secondary;
        border-radius: 100px;
        transform: translate(-50%, -50%);
    }

    &:after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        background-color: $colorOutline;
        width: $sizeTrackball;
        height: $sizeTrackball;
        border-radius: 100%;
        animation: trackBallSlide $animDuration linear infinite;
    }

    @include grid-media($Small) {
        display: none;
        visibility: hidden;
    }
}

@keyframes colorSlide {
    0% {
        background-position: 0% 100%;
    }

    20% {
        background-position: 0% 0%;
    }

    21% {
        background-color: $colorOutlineFade;
    }

    29.99% {
        background-color: $colorOutline;
        background-position: 0% 0%;
    }

    30% {
        background-color: $colorOutlineFade;
        background-position: 0% 100%;
    }

    50% {
        background-position: 0% 0%;
    }

    51% {
        background-color: $colorOutlineFade;
    }

    59% {
        background-color: $colorOutline;
        background-position: 0% 0%;
    }

    60% {
        background-color: $colorOutlineFade;
        background-position: 0% 100%;
    }

    80% {
        background-position: 0% 0%;
    }

    81% {
        background-color: $colorOutlineFade;
    }

    90%,
    100% {
        background-color: $colorOutline;
    }
}

@keyframes trackBallSlide {
    0% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    6% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }

    14% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    15%,
    19% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    28%,
    29.99% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    30% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    36% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }

    44% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    45%,
    49% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    58%,
    59.99% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    60% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }

    66% {
        opacity: 1;
        transform: scale(0.9) translateY($posTrackball/4);
    }

    74% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY($posTrackball*2);
    }

    75%,
    79% {
        opacity: 0;
        transform: scale($shrinkTrackball) translateY(-$posTrackball);
    }

    88%,
    100% {
        opacity: 1;
        transform: scale(1) translateY(-$posTrackball);
    }
}

@keyframes nudgeMouse {
    0% {
        transform: translate(-50%, 0);
    }

    20% {
        transform: translate(-50%, $posMouse);
    }

    30% {
        transform: translate(-50%, 0);
    }

    50% {
        transform: translate(-50%, $posMouse);
    }

    60% {
        transform: translate(-50%, 0);
    }

    80% {
        transform: translate(-50%, $posMouse);
    }

    90% {
        transform: translate(-50%, 0);
    }
}

@keyframes nudgeText {
    0% {
        transform: translateY(0);
    }

    20% {
        transform: translateY($posText);
    }

    30% {
        transform: translateY(0);
    }

    50% {
        transform: translateY($posText);
    }

    60% {
        transform: translateY(0);
    }

    80% {
        transform: translateY($posText);
    }

    90% {
        transform: translateY(0);
    }
}

@keyframes colorText {
    21% {
        color: $colorOutlineFade;
    }

    30% {
        color: $colorOutline;
    }

    51% {
        color: $colorOutlineFade;
    }

    60% {
        color: $colorOutline;
    }

    81% {
        color: $colorOutlineFade;
    }

    90% {
        color: $colorOutline;
    }
}

/*=====  End of Mouse scroll  ======*/